# Node modules
/node_modules
/packages/*/node_modules

# Yarn Berry
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.yarnrc.yml

# Dist outputs
packages/*/dist

# turborepo
.turbo/*